<div class="login-card">
    <h2>Login</h2>
    <form class="login-form">
        <div class="container">
            <label for="username-login">Username: </label>
            <input class="form-input" type="text" id="username-login"/>
        </div>
        <div class="container">
            <label for="password-login">Password: </label>
            <input class="form-input" type="text" id="password-login"/>
        </div>
        <div>
            <button class="btn" type="submit" id="loginBtn">Login</button>
        </div>
    </form>

    <div>
        <p>Don't have an account?</p>
        <a href="/signup">Signup</a>
    </div>
</div>

<script src="./js/login.js"></script>